:root {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 200;
  background-color: #000;
  color: #dad9d4;
}

body {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #dad9d4;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #000;
}



